API_URL_CONFIG=traefik.frontend.rule=Host:museumapp.naturalis.nl
SELECTOR_URL_CONFIG=traefik.frontend.rule=Host:selector_museumapp.naturalis.nl
SQUARES_URL_CONFIG=traefik.frontend.rule=Host:squares_museumapp.naturalis.nl
PIPELINE_URL_CONFIG=traefik.frontend.rule=Host:pipeline_museumapp.naturalis.nl
MINIO_URL_CONFIG=traefik.frontend.rule=Host:minio_museumapp.naturalis.nl
MINIO_DATA_DIR=/data/pipeline/minio
BASE_PATH=/data
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MINIO_USER=
MINIO_PASS=